bookmarks
history
org-roam.db
org.el
settings.el
programming.el
\#*
recentf
straight/**
!straight/versions/default.el
.org-id-locations
auto-save-list/**
elpy*
session*
transient*
.dap-breakpoints
.lsp-session-v1
*~undo-tree~
eln-cache/*
request/*
url/*
org-gcal/*
.org-generic-id-locations
persist/
